.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin: 10px;
  padding: 20px;
  background-color: #6c6c6c;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 464px;
}

.login-title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.btn-login {
  height: 50px;
  width: 264px;
  background-color: #ffc700;
  border-radius: 4px;
  border: none;
}

.card-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.image-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;
}

@media (min-width: 576px) {
  .card-container {
    margin: 40px;
    padding-bottom: 135px;
  }

  .login-title {
    font-size: 48px;
  }

  .btn-login {
    width: 385px;
    height: 65px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .image-login {
    display: flex;
  }

  .card-container {
    margin: 40px;
    padding-bottom: 135px;
  }
}
