.movieid-container {
  margin: 1px;
}

.movieid-container h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
}

.avaliacao-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
}

.btn-login {
  height: 50px;
  width: 100%;
  max-width: 335px ;
  min-width: 300px;
  background-color: #ffc700;
  border-radius: 4px;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.comentario-container {
  background: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
}

.comentario-card {
  margin-bottom: 20px;
}

.topo-comentario {
  display: flex;
  flex-direction: row;
}

.topo-comentario h4 {
  font-size: 16px;
}

.topo-comentario h4 {
  margin-left: 20px;
}

.corpo-comentario {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 10px;
}

.corpo-comentario p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: -0.015em;

  color: #9e9e9e;
}

@media (min-width: 1200px) {
  .movieid-container h1 {
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.015em;
  }

  .avaliacao-card {
    margin: 40px;
  }

  .comentario-container {
    margin: 40px;
  }
}
